<%- include ('partials/header.ejs'); %>

<form action="/searchMovie" method="POST">
    <input type="text" name="movie">
    <button type="submit"><i class="fas fa-search"></i></button>
</form>
<div class="movieList">
    <% data.Search.forEach(function(item) { %>
        <ul>
            <li class="title"><i class="fas fa-video"></i><%= item.Title %></li>
            <li>Year: <%= item.Year %></li>
            <li>ID: <%= item.imdbID %></li>
            <img src="<%= item.Poster %>" alt="">
        </ul>
    <% }); %>
</div>

<%- include ('partials/footer.ejs'); %>

